# Algorithm using sklearn

In [67]:
#Importing packages
import pandas as pd
import numpy as np
from sklearn import linear_model

In [68]:
#importing the dataset
df = pd.read_csv('data.csv')
df

             id  bedrooms  floors  yr_built     price
0    7129300520         3     1.0      1955  221900.0
1    6414100192         3     2.0      1951  538000.0
2    5631500400         2     1.0      1933  180000.0
3    2487200875         4     1.0      1965  604000.0
4    1954400510         3     1.0      1987  510000.0
..          ...       ...     ...       ...       ...
395  3649100320         2     1.0      1950  330000.0
396  7375300160         5     1.0      1958  530000.0
397  5175800060         4     1.0      1962  365000.0
398  1604601375         3     1.5      1909  378750.0
399  2473251090         4     1.5      1968  269900.0

[400 rows x 5 columns]

In [69]:
#droping id and price from the df
X = df.drop(["id","price"],axis =1)
y = df.price

In [70]:
reg.coef_

array([120478.57675859, 118783.3372265 ,   -900.05530326])

In [71]:
reg.intercept_

1713679.8894242432

In [72]:
reg.predict([[3,2,1982]])

array([528772.68309001])